.toDoList__Item {
    display: flex;
    padding: 1rem 2rem;
    font-size: 3rem;
    line-height: 2;
    border-radius: 15px;
    margin: 2rem 1rem;
    transition-property: all;
    transition-duration: 500ms;
    &:hover {
        transform: scale(1.05);
    }
    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: default;
    }
}
.progress {
    display: flex;
    margin-left: 2rem;
    &__waiting {
        img {
            width: 3rem;
            padding-top: 2rem;
            margin-right: 1rem;
            transition-property: all;
            transition-duration: 500ms;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
    &__inprogress {
        img {
            width: 3rem;
            padding-top: 2rem;
            margin-right: 1rem;
            transition-property: all;
            transition-duration: 500ms;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
    &__done {
        img {
            width: 3rem;
            padding-top: 2rem;
            transition-property: all;
            transition-duration: 500ms;
            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
}
