.toDoList {
    grid-area: list;
    resize: horizontal;
    overflow: hidden;
    min-width: 30rem;
    border: 1px solid black;
    &__Search {
        margin: 2rem 2rem 0 2rem;
        padding: 0.5rem;
        width: 84%;
        font-size: 3rem;
    }
    &__Buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        text-align: center;
        padding: 1rem 2rem 1rem 2rem;
    }
    &__Add {
        font-size: 3rem;
    }
    &__Delete {
        font-size: 3rem;
    }
}
