html {
    font-size: 10px;
}
body {
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 5rem;
    overflow: hidden;
}
.title {
    text-align: center;
    font-size: 6rem;
    font-weight: bolder;
    margin: 2rem auto;
}
.main {
}
